html body {
    margin: 0;
}

main {
    margin: auto;
    height: 50vh; /* need to implement clamp or min max */
    width: 50vw;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border: solid;
}

main div {
    border: solid;
}