html body {
    margin: 0;
}

main {
    margin: auto;
    height: 320px;
    width: 320px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border: solid;
}

main div {
    border: solid;
}

main div[value="1"] {
    border: solid;
    background-color: red;
}

main div[value="2"] {
    border: solid;
    background-color: blue;
}